@model IEnumerable<Lab6.Models.Procedure>

@{
    ViewData["Title"] = "Index";
}

<h1>Таблиця Направлення</h1>

<p>
    @Html.ActionLink("Створити", "CreateProcedure", "Procedure")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Procedure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Procedure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.ActionLink("Редагувати", "EditProcedure/" + item.ID_Procedure, "Procedure") |
                    @Html.ActionLink("Видалити", "DeleteProcedure/" + item.ID_Procedure, "Procedure")
                </td>
            </tr>
        }
    </tbody>
</table>